{% extends "base_balance.html" %}


{% block title %} Bilans - poprzedni miesiąc {% endblock %}


{% block title_period %}

	<div id="title">Poprzedni miesiąc:</div> 

{% endblock %}


{% block incomes %}

	{% for i in balance_incomes_previous_month %}
		<tr> 
			<td>{{ i.name }}</td>
			<td>{{ i.amount }}</td>
			<td>{{ i.date_of_income }}</td>
			<td>{{ i.income_comment }}</td>
		</tr> 
	{% endfor %}

{% endblock %}


{% block expenses %}

	{% for i in balance_expenses_previous_month %}
		<tr> 
			<td>{{ i.name }}</td>
			<td>{{ i.payment_name }}</td>
			<td>{{ i.amount }}</td>
			<td>{{ i.date_of_expense }}</td>
			<td>{{ i.expense_comment }}</td>
		</tr> 
	{% endfor %}
	
{% endblock %}


{% block balance_summary %}

	{{ balance_sum_previous_month }}

{% endblock %}


{% block balance_message %}

	{% for message in summary_message_previous %}
		<div class="summary summary-{{ message.type }}">
			{{ message.body }}
		</div>
	{% endfor %}

{% endblock %}


{% block piechart_js %}

	{% for data in piechart_previous_month %} 
		['{{ data.name }}', {{ data.sum }}],
	{% endfor %}
	
{% endblock %}
