{% extends 'base.html' %}

{% block title %}Ustawienia{% endblock %}

{% block footer %}

	<!--show modal window after edit button, put data to text field-->
	<script>
		
		$("#modal_window").on('click', function(){
		
			var vall = $("input[name='category']:checked").val();
			var labelid = "#label_" + vall;
			
			var label = $(labelid).text();
			
			if (vall) {
				$('#my_modal').modal('show');
				document.getElementById("category_name").innerHTML = label; 
				document.getElementById("category_id").value = vall; 
			}
			
		});
				
	</script>

{% endblock %}

{% block body %}
	
	<div class="modal" id="my_modal">
	
		<div class="modal-dialog">
		
			<div class="modal-content">
			
				<div class="modal-header">
				
					<h4 class="modal-title">Edytuj kategorię o nazwie: <p id="category_name"></p></h4>
					
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					
				</div>
				
				<form action="/paymentmethodsettings/editPaymentMethodCategory" method="post">
				
					<div class="modal-body">
					
						<input id="new_category_name" type="text" name="new_name" class="inputfield" placeholder="Nowa nazwa kategorii" required/>
						
						<input id="category_id" type="hidden" name="category_id" required/>
						
					</div>
					
					<div class="modal-footer">
					
						<button type="submit" class="btn btn-default" >Akceptuj</button>
						
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="main">

		<div id="title">Kategorie metod płatności</div>
		
		<form action="/paymentmethodsettings/deletePaymentMethodCategory" method="post">
		
			<div class="settings_field">
			
				<legend>Istniejące kategorie</legend> 
				
				{% for i in payment_methods_category %}
					<div class="btn-group">
						
						<label id="label_{{ i.id }}" class="btn btn-outline-secondary">
						<input id = "{{ i.id }}" type="radio" name="category" value="{{ i.id }}" required> {{ i.payment_name }}</label>
						
					</div>
				{% endfor %}
				
				<div>
					<input id="modal_window" type="button" class="pushbutton ok_pushbutton" value="Edytuj">
				
					<input type="submit" class="pushbutton delete_pushbutton" value="Usuń">
				</div>

			</div>
			
		</form>
		
		<form action="/paymentmethodsettings/addPaymentMethodCategory" method="post">
		
			<div class="settings_field">
		
				<legend>Nowa kategoria</legend>
				
				<input type="text" class="inputfield" placeholder="Nazwa nowej kategorii" onfocus="this.placeholder=''" onblur="this.placeholder='Nazwa nowej kategorii'" name="new_category" required> 
				
				<input type="submit" class="pushbutton ok_pushbutton" value="Dodaj">
					
			</div>
		
		</form>

	</div>
	
{% endblock %}